{% autoescape off %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Email de reestablecimiento</title>
</head>
<body>
	
	<table border="0" width="600px" style="max-width:600px;margin:0 auto; border:1px solid #DDD; padding:50px;">
		<tr>
			<td>
				<table style="border-bottom: 1px solid #DDD;padding-bottom:20px;">
					<tr>
						<td><img src="http://104.131.101.84/static/img/logo-2.png" alt=""></td>
						<td><h2 style="font-family:Helvetica;font-weight:normal;margin:0;text-align:right;font-size:20px;">Reestablece tu contraseña del Premio al Mérito Empresarial</h2></td>
					</tr>	
				</table>
				
			</td>
			
		</tr>
		<tr>
			<td colspan="2" style="font-family:Helvetica; padding: 50px 20px 0;">
				<table>
					<tr>
						<td>
							<p style="color:#555;text-align:justify;">Hola {{user.first_name}}</p>
							<p style="color:#555;text-align:justify;line-height:20px;">Reestablece tu contraseña para la plataforma del Premio al Mérito Empresarial ingresando al siguiente enlace.</p>
						</td>
					</tr>
					<tr>
						<td>
							<table width="100%" style="margin-top:30px; background-color:#EAEAEA;padding:10px;">
								<tr>
									<td>
										<a href="#" style="color:gray;font-size:14px;">
											{% block reset_link %}
											{{ protocol }}:http://104.131.101.84/{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid token=token %}
											{% endblock %}	
										</a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<p style="color:#555;text-align:justify;margin-top:60px;">Premio al mérito Empresarial</p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

</body>
</html>
{% endautoescape %}
