{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verificación de contraseña</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />

    <style>
        .navbar-default {
            background-color: transparent !important;
            border: none;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Brand" src="{% static 'img/logo-2.png' %}">
          </a>
        </div>
      </div>
    </nav>
    
    <div class="container">
        <div class="col-lg-12">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="panel panel-default" style="margin-top:40px;">
                    <div class="panel-body">
                        {% if validlink %}
                            <p>Por favor ingresa tu nueva contraseña dos veces.</p>
                            <form action="" method="post">
                                {% csrf_token %}
                                {{ form.new_password1 }}
                            </form>
                        {% else %}
                            <h4>El cambio de contraseña no fue existoso</h4>
                            <br />
                            <p class="text-justify"> El enlace para restablecer contraseña era inválido, probablemente por que ya había sido utilizado. Por favor solicite el restablecimiento de su contraseña nuevamente.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>


<!--{# {% extends "base_index.html" %} #}


{% block other_css %} <link rel="stylesheet" href="{% static "css/login.css" %}"> {% endblock %}

{% block detalle-cuerpo %}footer-fixed-cuerpo-detalle{% endblock %}
{% block cuerpo %}
    {% if validlink %}

        

        <form action="" method="post" class="formulario contenedor-80">
            <p class="texto-info-ayuda text-justify">Por favor ingresa tu nueva contraseña dos veces.<br />
           Para que podamos verificar que lo escribiste correctamente.</p>
            {% csrf_token %}
            
             <p>
                <label for="id_new_password1">Nueva contraseña:</label>
                {% if form.new_password1.errors %}
            
                    
                    <span class="error-mensaje">{{ form.new_password1.errors|striptags }}</span>
                {% else %}
                    {# {% render_field form.new_password1 %} #}
                {% endif %}
            </p>
                
            <p>
                <label for="id_new_password2">Confirmar contraseña:</label>
                {% if form.new_password2.errors %}
            
                    {# {% render_field form.new_password2|add_class:"error-input" %} #}
                    <span class="error-mensaje">{{ form.new_password2.errors|striptags }}</span>
                {% else %}
                    {# {% render_field form.new_password2 %} #}
                {% endif %}
            </p>           
            
            <input type="submit" value="Cambiar mi contraseña" />
           
        </form>
    {% else %}
        <h1>El cambio de contraseña no fue existoso</h1>
        <p> El enlace para restablecer contraseña era inválido, probablemente por que ya había sido utilizado. <br />
            Por favor solicite el restablecimiento de su contraseña nuevamente.</p>
    {% endif %}
{% endblock %}


{% block footer_class %}
        footer-fixed
{% endblock %}-->