{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Fomulario de registro</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

	<style>
		html {
			height: 100%;
		}

		body{
			min-height: 100%;
			padding-top:5%; 
			background-image: url("{% static 'img/premio.png' %}");
			background-repeat: no-repeat;
			background-position: 12% 0%;
		}
		
	</style>
</head>
<body>
	
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<h3 class="text-center">Registro exitoso</h3>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModalExistente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<h3 class="text-center">El usuario ya existe, utilice otro</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="col-lg-12">
			<div class="col-md-4 col-md-offset-4">
				<div class="panel panel-default">
					<div class="panel-head">
						<h2 class="text-center"><img src="{% static 'img/logo-2.png' %}" alt=""></h2>
					</div>
					<div class="panel-body">
						<h4 class="text-center" style="border-bottom:1px solid #DDD;padding-bottom:5px;margin-bottom:15px;font-size:16pt;">Crear cuenta</h4>
						<form action="#" method="post" class="formulario" id="formulario_registro">
							{% csrf_token %}
							<div class="form-group">
								<label for="tipo_usuario">Seleccione el tipo de usuario</label>
								<select name="tipo_usuario" id="tipo_usuario" class="form-control">
									<option value="" selected="selected">Seleccionar tipo de usuario</option>
									<option value="" disabled>-----------</option>
									<option value="emprendedor">Emprendedor Bolivariano</option>
									<option value="empresa">Empresa</option>
									<option value="gremio">Gremio</option>
								</select>
							</div>
							<div class="form-group">
								<label for="nombre">Nombre</label>
								<input type="text" id="nombre" name="nombre" class="form-control" required />
							</div>
							<div class="form-group">
								<label for="apellido">Apellido</label>
								<input type="text" id="apellido" name="apellido" class="form-control" required />
							</div>
							<div class="form-group">
								<label for="email">E-mail</label>
								<input type="email" id="email" name="email" class="form-control" required />
							</div>
							<div class="form-group">
								<label for="password">Contraseña</label>
								<input type="password" id="password" name="password" class="form-control" required />
							</div>
							<div class="form-group">
								<label for="password2">Confirmar contraseña</label>
								<input type="password" id="password2" name="password2" class="form-control" required />
							</div>
							<div id="informacion_gremio" style="display:none">
								<div class="form-group">
									<label for="nombre_gremio">Nombre del gremio</label>
									<input type="text" name="nombre_gremio" id="nombre_gremio" class="form-control" />
								</div>
								<div class="form-group">
									<label for="direccion_gremio">Dirección</label>
									<input type="text" name="direccion_gremio" id="direccion_gremio" class="form-control" />
								</div>
								<div class="form-group">
									<label for="nombre_presidente_gremio">Nombre del presidente de la junta directiva</label>
									<input type="text" name="nombre_presidente_gremio" id="nombre_presidente_gremio" class="form-control" />
								</div>
								<div class="form-group">
									<label for="telefono_presidente_gremio">Teléfono</label>
									<input type="text" name="telefono_presidente_gremio" id="telefono_presidente_gremio" class="form-control" />
								</div>
								<div class="form-group">
									<label for="email_presidente_gremio">E-mail</label>
									<input type="text" name="email_presidente_gremio" id="email_presidente_gremio" class="form-control" />
								</div>
								<div class="form-group">
									<label for="nombre_gerente_gremio">Nombre del director(a) ejecutivo o gerente</label>
									<input type="text" name="nombre_gerente_gremio" id="nombre_gerente_gremio" class="form-control" />
								</div>
								<div class="form-group">
									<label for="telefono_gerente_gremio">Teléfono</label>
									<input type="text" name="telefono_gerente_gremio" id="telefono_gerente_gremio" class="form-control" />
								</div>
								<div class="form-group">
									<label for="email_gerente_gremio">E-mail</label>
									<input type="text" name="email_gerente_gremio" id="email_gerente_gremio" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<input type="submit" class="form-control btn btn-success" value="Registrarse" />
							</div>

						</form>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="alert alert-danger alert-dismissible fade in" role="alert" id="alertaLogin">
				      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
				      <strong>Credenciales incorrectas</strong> Si aún no tienes una cuenta, regístrate.
				    </div>
				<div class="panel panel-default">
					<div class="panel-head">
						<h2 class="text-center">Iniciar Sesión</h2>
					</div>
					<div class="panel-body">
						<form action="#" method="post" class="formulario" id="formularioLogin">
							{% csrf_token %}
							<div class="form-group">
								<label for="username">E-mail</label>
								<input type="text" class="form-control" id="correo_login" name="correo_login" required />
							</div>
							<div class="form-group">
								<label for="clave">Contraseña</label>
								<input type="password" class="form-control" id="clave_login" name="clave_login" required />
							</div>
							<div class="form-group">
								<input type="submit" class="form-control btn btn-success" value="Iniciar Sesión" />
							</div>
							<!--<a href="{% url 'django.contrib.auth.views.password_reset' %}">Olvidaste tu contraseña?</a>-->
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src="{% static 'js/jquery-2.1.3.js' %}"></script>
	<script src="{% static 'js/jquery.validate.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>
	<script>

		$(document).ready(function(){
			$('#tipo_usuario').change(function(){
				if($(this).val() == "gremio"){
					$('#informacion_gremio').css('display', 'block');
				}else{
					$('#informacion_gremio').css('display', 'none');
				}
			});


			$('#formulario_registro').validate({
				rules: {
				    password: "required",
				    password2: {
				      equalTo: "#password"
				    },
				    email: {
				      required: true,
				      email: true
				    }
				}
			});

			$('#alertaLogin').css('display','none');

			$('#formulario_registro').submit(function(e){
				e.preventDefault();
				if($('#formulario_registro').valid()){
					var nombre = $('#nombre').val();
					var apellido = $('#apellido').val();
					var password = $('#password').val();
					var email = $('#email').val();
					var tipo_usuario = $('#tipo_usuario').val();

					// Para los datos del gremio
					var nombre_gremio = $('#nombre_gremio').val();
					var direccion_gremio = $('#direccion_gremio').val();
					var nombre_presidente_gremio = $('#nombre_presidente_gremio').val();
					var telefono_presidente_gremio = $('#telefono_presidente_gremio').val();
					var email_presidente_gremio = $('#email_presidente_gremio').val();
					var nombre_gerente_gremio = $('#nombre_gerente_gremio').val();
					var telefono_gerente_gremio = $('#telefono_gerente_gremio').val();
					var email_gerente_gremio = $('#email_gerente_gremio').val();


					$.post("{% url 'Entidad.views.registroPeticion' %}", {'nombre': nombre,'apellido': apellido,'email':email, 'password':password, 'tipo_usuario':tipo_usuario, 'nombre_gremio':nombre_gremio, 'direccion_gremio':direccion_gremio, 'nombre_presidente_gremio':nombre_presidente_gremio, 'telefono_presidente_gremio':telefono_presidente_gremio, 'email_presidente_gremio':email_presidente_gremio, 'nombre_gerente_gremio':nombre_gerente_gremio, 'telefono_gerente_gremio':telefono_gerente_gremio, 'email_gerente_gremio':email_gerente_gremio}, function(response){
						if(response == 0){
							$('#myModalExistente').modal('show');
							setTimeout(function(){
								$('#myModalExistente').modal('hide');
							}, 3000);
							
							$('#email').focus();
						}else if(response == 1){
							$('#myModal').modal('show');
							$('#correo_login').val(email);
							$('#clave_login').val(password);
							setTimeout(function(){
								$('#myModal').modal('hide');
							}, 3000);
						}
					});


				}
				
			});

			$('#formularioLogin').validate();

			$('#formularioLogin').submit(function(e){
				e.preventDefault();
				if($('#formularioLogin').valid()){
					var usuario = $('#correo_login').val();
					var clave = $('#clave_login').val();

					$.post("{% url 'Entidad.views.iniciarSesionPeticion' %}", {'usuario': usuario,'clave': clave}, function(response){
						if(response == 0){
							$('#alertaLogin').fadeIn();
						}else if(response == 1){
							location.href="{% url 'Entidad.views.home' %}";
						}
					});
				}
			});

		});

	</script>

</body>
</html>
