{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Fomulario de registro</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

	<style>
		html {
			height: 100%;
		}

		body{
			min-height: 100%;
			padding-top:5%; 
			background-image: url("{% static 'img/premio.png' %}");
			background-repeat: no-repeat;
			background-position: 12% 0%;
		}
		
	</style>
</head>
<body>
	
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<h3 class="text-center">Registro exitoso</h3>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModalExistente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<h3 class="text-center">El usuario ya existe, utilice otro</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="col-lg-12">
			<div class="col-md-4 col-md-offset-4">
				<div class="alert alert-danger alert-dismissible fade in" role="alert" id="alertaLogin">
				      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
				      <strong>Credenciales incorrectas</strong> Si aún no tienes una cuenta, regístrate.
				    </div>
				<div class="panel panel-default">
					<div class="panel-head">
						<h2 class="text-center">Iniciar Sesión</h2>
					</div>
					<div class="panel-body">
						<form action="#" method="post" class="formulario" id="formularioLogin">
							{% csrf_token %}
							<div class="form-group">
								<label for="username">E-mail</label>
								<input type="text" class="form-control" id="correo_login" name="correo_login" required />
							</div>
							<div class="form-group">
								<label for="clave">Contraseña</label>
								<input type="password" class="form-control" id="clave_login" name="clave_login" required />
							</div>
							<div class="form-group">
								<input type="submit" class="form-control btn btn-success" value="Iniciar Sesión" />
							</div>
							<a href="{% url 'password_reset' %}">Olvidaste tu contraseña?</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-64927194-1', 'auto');
	  ga('send', 'pageview');

	</script>
	<script src="{% static 'js/jquery-2.1.3.js' %}"></script>
	<script src="{% static 'js/jquery.validate.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>
	<script>

		$(document).ready(function(){
			$('#tipo_usuario').change(function(){
				if($(this).val() == "gremio"){
					$('#informacion_gremio').css('display', 'block');
				}else{
					$('#informacion_gremio').css('display', 'none');
				}
			});


			$('#formulario_registro').validate({
				rules: {
				    password: "required",
				    password2: {
				      equalTo: "#password"
				    },
				    email: {
				      required: true,
				      email: true
				    }
				}
			});

			$('#alertaLogin').css('display','none');

			$('#formulario_registro').submit(function(e){
				e.preventDefault();
				if($('#formulario_registro').valid()){
					var nombre = $('#nombre').val();
					var apellido = $('#apellido').val();
					var password = $('#password').val();
					var email = $('#email').val();
					var tipo_usuario = $('#tipo_usuario').val();

					// Para los datos del gremio
					var nombre_gremio = $('#nombre_gremio').val();
					var direccion_gremio = $('#direccion_gremio').val();
					var nombre_presidente_gremio = $('#nombre_presidente_gremio').val();
					var telefono_presidente_gremio = $('#telefono_presidente_gremio').val();
					var email_presidente_gremio = $('#email_presidente_gremio').val();
					var nombre_gerente_gremio = $('#nombre_gerente_gremio').val();
					var telefono_gerente_gremio = $('#telefono_gerente_gremio').val();
					var email_gerente_gremio = $('#email_gerente_gremio').val();


					$.post("{% url 'Entidad.views.registroPeticion' %}", {'nombre': nombre,'apellido': apellido,'email':email, 'password':password, 'tipo_usuario':tipo_usuario, 'nombre_gremio':nombre_gremio, 'direccion_gremio':direccion_gremio, 'nombre_presidente_gremio':nombre_presidente_gremio, 'telefono_presidente_gremio':telefono_presidente_gremio, 'email_presidente_gremio':email_presidente_gremio, 'nombre_gerente_gremio':nombre_gerente_gremio, 'telefono_gerente_gremio':telefono_gerente_gremio, 'email_gerente_gremio':email_gerente_gremio}, function(response){
						if(response == 0){
							$('#myModalExistente').modal('show');
							setTimeout(function(){
								$('#myModalExistente').modal('hide');
							}, 3000);
							
							$('#email').focus();
						}else if(response == 1){
							$('#myModal').modal('show');
							$('#correo_login').val(email);
							$('#clave_login').val(password);
							setTimeout(function(){
								$('#myModal').modal('hide');
							}, 3000);
						}
					});


				}
				
			});

			$('#formularioLogin').validate();

			$('#formularioLogin').submit(function(e){
				e.preventDefault();
				if($('#formularioLogin').valid()){
					var usuario = $('#correo_login').val();
					var clave = $('#clave_login').val();

					$.post("{% url 'Entidad.views.iniciarSesionPeticion' %}", {'usuario': usuario,'clave': clave}, function(response){
						if(response == 0){
							$('#alertaLogin').fadeIn();
						}else if(response == 1){
							location.href="{% url 'Entidad.views.home' %}";
						}
					});
				}
			});

		});

	</script>

</body>
</html>
