{% extends "base_index.html" %}
{% load static from staticfiles %}
{% load widget_tweaks %}

{% block other_css %} <link rel="stylesheet" href="{% static "css/login.css" %}"> {% endblock %}

{% block detalle-cuerpo %}footer-fixed-cuerpo-detalle{% endblock %}

{% block cuerpo %}
	<div class="contenedor-estandar">
		
	</div>
	<form action="" class="formulario contenedor-80" method="post">
	    <p class="text-center texto-info-ayuda">
			Por favor ingresa tu e-mail para enviarte las instrucciones para restablecer tu contraseña
		</p>
	    
	    {% csrf_token %}
	     
	    <p text-align="text-center">
			{{ form.email.label_tag }}
	    	{% if form.email.errors %}
			
				{% render_field form.email|add_class:"error-input"|attr:"type:email" %}
				<span class="error-mensaje">{{ form.email.errors|striptags }}</span>
			{% else %}
				{% render_field form.email|attr:"type:email" %}
			{% endif %}
	    	

	    	
	    </p>
	    <input type="submit" value="Restablecer contraseña" />
	</form>
{% endblock %}


{% block footer_class %}
		footer-fixed
{% endblock %}