{% extends "base_index.html" %}

{% load static from staticfiles %}
{% load widget_tweaks %}

{% block other_css %} <link rel="stylesheet" href="{% static "css/login.css" %}"> {% endblock %}

{% block detalle-cuerpo %}footer-fixed-cuerpo-detalle{% endblock %}
{% block cuerpo %}
    {% if validlink %}

        

        <form action="" method="post" class="formulario contenedor-80">
            <p class="texto-info-ayuda text-justify">Por favor ingresa tu nueva contraseña dos veces.<br />
           Para que podamos verificar que lo escribiste correctamente.</p>
            {% csrf_token %}
            
             <p>
                <label for="id_new_password1">Nueva contraseña:</label>
                {% if form.new_password1.errors %}
            
                    {% render_field form.new_password1|add_class:"error-input" %}
                    <span class="error-mensaje">{{ form.new_password1.errors|striptags }}</span>
                {% else %}
                    {% render_field form.new_password1 %}
                {% endif %}
            </p>
                
            <p>
                <label for="id_new_password2">Confirmar contraseña:</label>
                {% if form.new_password2.errors %}
            
                    {% render_field form.new_password2|add_class:"error-input" %}
                    <span class="error-mensaje">{{ form.new_password2.errors|striptags }}</span>
                {% else %}
                    {% render_field form.new_password2 %}
                {% endif %}
            </p>           
            
            <input type="submit" value="Cambiar mi contraseña" />
           
        </form>
    {% else %}
        <h1>El cambio de contraseña no fue existoso</h1>
        <p> El enlace para restablecer contraseña era inválido, probablemente por que ya había sido utilizado. <br />
            Por favor solicite el restablecimiento de su contraseña nuevamente.</p>
    {% endif %}
{% endblock %}


{% block footer_class %}
        footer-fixed
{% endblock %}